NEXT_PUBLIC_SITE_URL=https://muagi.vn
NEXT_PUBLIC_API_BASE_URL=https://cms.muagi.vn/wp-json
NEXT_PUBLIC_CF7_QUOTE_FORM_ID=0
NEXT_PUBLIC_CF7_MEETING_FORM_ID=0
NEXT_PUBLIC_SOCIAL_FACEBOOK_URL=https://facebook.com
NEXT_PUBLIC_SOCIAL_INSTAGRAM_URL=https://instagram.com
NEXT_PUBLIC_SOCIAL_YOUTUBE_URL=https://youtube.com
NEXT_PUBLIC_SOCIAL_TIKTOK_URL=https://tiktok.com
